@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

@import "tailwindcss";

@theme {
  --breakpoint-sm: 35rem;
  --breakpoint-lg: 57rem;
}

body {
  font-family: "Inter", sans-serif;
}
