@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

@import "tailwindcss";

@theme {
  --breakpoint-side: 62rem;
  --breakpoint-sideh: 62rem;
  --breakpoint-grid4: 75rem;
  --breakpoint-grid2: 36rem;
  --breakpoint-filter3: 36rem;
  --breakpoint-filter4: 42rem;
  --breakpoint-filter5: 50rem;
  --breakpoint-filter6: 58rem;
  --breakpoint-filter55: 66rem;
  --breakpoint-filter66: 74rem;
  --breakpoint-progress: 81rem;
  --breakpoint-filterF: 81rem;
  --color-filterBar: #fefefe;
  --color-checkbox: #dae2e9;
}

body {
  font-family: "Inter", sans-serif;
}
